:host {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 30%;
  max-width: 250px;
  margin: 20px 0;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
