:host {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instruction {
  left: 0;
  top: 0;
  position: absolute;
  width: fit-content;
  height: fit-content;
  padding: 15px;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.title {
  font-size: 24px;
  font-weight: 500;
}
