<div class="instruction">
  <mat-list>
    <mat-list-item class="nav-item title" matRipple>Инструкция </mat-list-item>
    <mat-list-item class="nav-item" matRipple
      >Открыть заслонку - Стрелка вверх
    </mat-list-item>
    <mat-list-item class="nav-item" matRipple>
      Закрыть заслонку - Стрелка вниз
    </mat-list-item>
    <mat-list-item class="nav-item" matRipple
      >Движение поезда - Стрелка вправо
    </mat-list-item>
    <mat-list-item class="nav-item" matRipple>
      Торможение поезда - Стрелка влево
    </mat-list-item>
  </mat-list>
</div>
<div class="wrapper" #canvas id="canvas"></div>
