:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url('../../../assets//images//quiz-background/4979495.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
:host mat-progress-bar {
  position: absolute;
  top: 0;
}
.snackbar {
  background: red !important ;
}
.carousel {
  max-width: 590px;
  overflow: hidden;
}
.cards {
  transition: margin-left 450ms ease 0s;
  width: 99999px;
  display: flex;
  align-items: center;
}
