:host {
  height: 100%;
}
:host mat-drawer-container {
  height: calc(100% - 56px);
  display: flex;
}
:host mat-drawer-content {
  display: flex;
  flex: 1;
}
:host mat-drawer {
}
.spacer {
  flex: auto;
}
